@import "compass/css3";
@import "brand";


$size: 30px;

.service-readiness-col-item {
  background-position: 50%;
}
.risk-icon {
  background-size: $size;
  background-repeat: no-repeat;

  &.high {
    background-image: image-url("https://s3-us-west-2.amazonaws.com/skyformation-images/circle-red.png");
  }
  &.medium {
    background-image: image-url("https://s3-us-west-2.amazonaws.com/skyformation-images/circle-orange.png");
  }
  &.low {
    background-image: image-url("https://s3-us-west-2.amazonaws.com/skyformation-images/circle-green.png");
  }
}

.service-category {
  display: inline-block;
  padding: 2px 4px;
  margin: 3px;
  color: #fff;
  background-color: $skyformation-green;
  font-size: 80%;
}

.service-icon-col {
  width: 55px;
}
.service-name-col {
  text-align: left;
}
.service-readiness-col {
  width: 85px;
}

.service-icon-col-item {
  vertical-align: middle;

  > .service-icon {
    vertical-align: middle;
    width: 38px;
    padding: 6px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

}

.service-name {

}